.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body h1{
    text-align: center;
  }
  
  .book {
    width: 220px;
    margin: 20px;
    text-align: center;
  }
  
  .book img {
    width: 220px;
    height: 311px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .book p {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
  }
  .book:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  li a {
    color: #000; /* Mengatur warna teks menjadi hitam */
    text-decoration: none; /* Menghapus garis bawah pada tautan */
}

h2, p {
    color: #000000; /* Mengatur warna teks pada elemen h2 dan p */
}
